.container {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    margin-bottom: var(--margin-base);
}

.card {
    width: 100%;
    max-width: 420px;
}
